.DS_Store
._*
*.pkg
*.pkg.zip
.idea/
.vs/
Source/Loaders/Windows-TSF/out/
Source/Loaders/Android-IME/.gradle/
Source/Loaders/Android-IME/build/
Source/Loaders/Android-IME/app/build/
Source/Loaders/Android-IME/local.properties
